{% extends "gnosis_theme.html" %}

{% block content %}

    {% load el_pagination_tags %}

    <div class="card shadow-sm mt-3">
        <div class="card-body text-center">
            <form action="{% url 'code_find' %}" method="get">
                <input type="text" name="keywords" size="60" class="form-control" required="">
                <br/>
                <input type="submit" class="btn btn-primary btn-lg" value="Search Codes"/>
            </form>
        </div>
    </div>

    {% if codes %}
        <div class="card shadow-sm mt-3">
            <div class="card-header"><h4>Codes</h4></div>
            {% paginate codes %}
            <div class="card-body">
                {% for code in codes %}
                    <ul class="list-group">
                        <li class="list-group-item mt-1">
                            <p><a href="{{ code.get_absolute_url }}">{{ code.name }}</a></p>
                            <p>{{ code.description|truncatewords:25 }}</p>
                            <p class="text-right">
                                <small>Keywords: {{ code.keywords }}</small>
                            </p>
                        </li>
                    </ul>
                {% endfor %}
            </div>
            {% get_pages %}
            <!-- Center-aligned -->
            {% include "pagination.html" %}
            <script>
                pagination($('.num_item'), parseInt('{{ pages.current.number }}'), parseInt('{{ pages.first.number }}'), parseInt('{{ pages.last.number }}'), '{{ pages.current.path }}');
            </script>
        </div>
    {% endif %}

{% endblock %}