{% extends "gnosis_theme.html" %}

{% block content %}
    {% load el_pagination_tags %}


    <div class="card shadow-sm mt-5">
        <div class="card-header">
            <h3>
                <a href={{ code.website }} target="_blank">{{ code.name }}</a>
                {% if user.is_authenticated %}
                    {% if user.is_superuser or user == code.created_by %}
                        <p>
                            <a href="{% url 'code_update' code.id %}" class="btn btn-danger btn-sm" role="" button>
                                Edit
                            </a>
                        </p>
                    {% endif %}
                {% endif %}
            </h3>
        </div>
        <div class="card-body">
            <p>{{ code.description }}</p>
            <p class="text-right">
                <small>Keywords: {{ code.keywords }}</small>
            </p>
        </div>
    </div>

    {% if papers %}
        <div class="card shadow-sm mt-3">
            <div class="card-header"><h4>Implements the following papers</h4></div>
            <div class="card-body">
                {% paginate papers %}
                {% for paper in papers %}
                    <ul class="list-group">
                        <li class="list-group-item mt-1">
                            <a href="{{ paper.get_absolute_url }}">{{ paper.title }}</a>
                        </li>
                    </ul>
                {% endfor %}

                {% get_pages %}
                <!-- Center-aligned -->
                {% include "single_pagination.html" %}
            </div>
        </div>
    {% endif %}

    {% if user.is_authenticated and user.is_superuser %}
        <div class="card text-left shadow-sm mb-5 mt-3">
            <div class="card-header"><strong>Admin functions</strong></div>
            <div class="card-body">
                <a href="{% url 'code_delete' code.id %}" class="btn btn-danger btn-sm" role="button">Delete Code</a>
            </div>
        </div>
    {% endif %}


{% endblock %}