{% extends "gnosis_theme.html" %}
{% block content %}
    {% load el_pagination_tags %}

    <div class="card shadow-sm mt-3">
        <div class="card-header">
            <h4>Collections</h4>
            {% if user.is_authenticated %}
                <a href="{% url 'collection_create' %}" class="btn btn-link float-right">Create Collection</a>
            {% endif %}

        </div>
        <div class="card-body">
            {% if collections %}
                {% paginate collections %}
                {% for collection in collections %}
                    <ul class="list-group">
                        <li class="list-group-item mt-1">
                            <h4><a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a></h4>
                            <p>{{ collection.description }}</p>
                        </li>
                    </ul>
                {% endfor %}

                {% get_pages %}
                <!-- Center-aligned -->
                {% include "single_pagination.html" %}
            {% else %}
                You have not created any collections. <a href="{% url 'collection_create' %}">Create a Collection</a> to
                start organising your papers.
            {% endif %}
        </div>
    </div>
{% endblock %}