{% extends "gnosis_theme.html" %}
{% block content %}
    {% load el_pagination_tags %}
    {% include "universal_search.html" %}
    <div class="card shadow-sm mt-3">
        <div class="card-header">
            <h4>Endorsements</h4>
        </div>
        <div class="card-body">
            {% if endorsements %}
                {% paginate endorsements %}
                {% for endorsement in endorsements %}
                    <ul class="list-group">
                        <li class="list-group-item mt-1">
                            <div class="d-flex flex-row">
                                <div class="mr-auto p-2"><a class="paper_link"
                                                            href="{% url 'paper_detail' endorsement.paper.id %}">{{ endorsement.paper.title }}</a>
                                </div>
                                <div class="p-2"><a href="{% url 'endorsement_delete' endorsement.paper.id %}"
                                                    class="btn btn-outline-danger btn-sm rm" role="button">Remove</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                {% endfor %}

                {% get_pages %}
                <!-- Center-aligned -->
                {% include "pagination.html" %}
                <script>
                    pagination($('.num_item'), parseInt('{{ pages.current.number }}'), parseInt('{{ pages.first.number }}'), parseInt('{{ pages.last.number }}'), '{{ pages.current.path }}');
                </script>
            {% endif %}
        </div>
    </div>
{% endblock %}