{% extends "gnosis_theme.html" %}

{% block content %}
    <div class="card shadow-sm mt-5">
        <div class="card-header">
            <h3>Set date for paper discussion</h3>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <table class="w-75">
                    {{ form }}
                </table>
                <br/>
                <input type="submit" class="btn btn-primary btn-lg float-right" value="Submit"/>
            </form>
            <p>
                *Club meeting day: <strong>Monday</strong>
            </p>
        </div>
    </div>

    <div class="cover popup date_alert" data-clubday="{{ group.day }}" hidden>
        <div class="card box_shadow response_dialog">
            <div class="card-body">
                <div><span>You chose a different day from the regular meeting day (<strong>{{ group.day }}</strong>) of the club.</span>
                </div>

                <div class="ok_container">
                    <span class="response_ok response_opt">Continue</span>

                    <button class="btn btn-danger response_reset response_opt">Reset</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}