{% extends "gnosis_theme.html" %}
{% block content %}
    {% load el_pagination_tags %}


    <div class="card shadow-sm mt-3">
        <div class="card-body text-center">
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field }}
                {% endfor %}
                <br>
                <div>
                    <input type="submit" class="btn btn-primary btn-lg" value="Search Clubs"/>
                </div>
            </form>
        </div>
    </div>


    <div class="card shadow-sm mt-3">
        <div class="card-header">
            <h4>Journal Clubs</h4>
            {% if user.is_authenticated %}
                <a href="{% url 'group_create' %}" class="btn btn-primary float-right">Create a Journal Club</a>
            {% endif %}
        </div>

        <div class="card-body">
            {#        Navigation bar in tag view, show the all-groups and my-groups tab depending on the login condition #}
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#navallgroups">{{ navtablabel }}</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#navmygroups">My Journal Clubs</a>
                    </li>
                {% endif %}
            </ul>
            <div class="tab-content">
                {#            tab content of all-groups tab #}
                <div class="container tab-pane active" id="navallgroups">
                    {#                    show the groups#}
                    {% if groups %}
                        {% paginate groups using "first_page" %}
                        <ul class="list-group mt-3">
                            {% for group in groups %}
                                <li class="list-group-item mt-1">
                                    <h4><a href="{{ group.get_absolute_url }}">{{ group.name }}</a></h4>
                                    <p>{{ group.description }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                        {% get_pages %}
                        <!-- Center-aligned -->
                        <div class="first_pagi">
                            {% include "pagination.html" %}
                        </div>

                        <script>
                            var page1 = {
                                class_name: "first_pagi",
                                page_name: "first_page",
                                current: parseInt('{{ pages.current.number }}'),
                                first: parseInt('{{ pages.first.number }}'),
                                last: parseInt('{{ pages.last.number }}'),
                            };
                        </script>
                    {% else %}
                        <div class="p-5">
                            <p><i>No matching journal clubs found.</i></p>
                        </div>
                    {% endif %}
                </div>
                {#              tab content of my-groups tab#}
                {% if user.is_authenticated %}
                    <div class="container tab-pane fade" id="navmygroups">
                        {% if mygroups %}
                            {% paginate mygroups using "second_page" %}
                            <ul class="list-group mt-3">
                                {% for group in mygroups %}
                                    <li class="list-group-item mt-1">
                                        <h4><a href="{{ group.get_absolute_url }}">{{ group.name }}</a></h4>
                                        <p>{{ group.description }}</p>
                                    </li>
                                    </ul>
                                {% endfor %}

                            {% get_pages %}
                            <!-- Center-aligned -->
                            <div class="second_pagi">
                                {% include "pagination.html" %}
                            </div>
                            <script>
                                var page2 = {
                                    class_name: "second_pagi",
                                    page_name: "second_page",
                                    current: parseInt('{{ pages.current.number }}'),
                                    first: parseInt('{{ pages.first.number }}'),
                                    last: parseInt('{{ pages.last.number }}'),
                                };
                            </script>
                        {% else %}
                            <dv class="p-5">
                                <p><i>You have not joined any journal clubs.</i></p>
                            </dv>
                        {% endif %}
                        <script>
                            if (typeof page1 !== "undefined" && typeof page2 !== "undefined") {
                                multi_pagination([page1, page2]);
                            } else if (typeof page1 !== "undefined") {
                                multi_pagination([page1])
                            } else {
                                multi_pagination([page2])
                            }
                        </script>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}