{% extends "gnosis_theme.html" %}

{% block content %}
    {% load el_pagination_tags %}

    <div class="card shadow-sm mt-3">
        {% if comments %}
            {% paginate comments %}
            <div class="card-header"><h3>Flagged comments waiting for moderation</h3></div>
            <div class="card-body">
                <ul class="list-group">
                    {% for comment in comments %}
                        <li class="list-group-item mt-1">
                            <p><strong>Violation type:</strong> {{ comment.violation }}</p>
                            <p><strong>User description:</strong> {{ comment.description }}</p>
                            <p><strong>Comment:</strong> {{ comment.comment.text }}</p>
                            <p><strong>Paper:</strong> <a
                                    href="{{ comment.comment.paper.get_absolute_url }}">{{ comment.comment.paper }}</a>
                            </p>
                            <p id="actions_{{ comment.id }}" class="actions"><strong>Actions: </strong>
                                <a href="{% url 'comment_delete' comment.comment.id %}"
                                   class="btn btn-danger btn-sm mod_del"
                                   data-id="{{ comment.id }}" role="button">Delete Comment</a>
                                <a href="{% url 'comment_restore' comment.comment.id %}"
                                   class="btn btn-primary btn-sm mod_rest"
                                   data-id="{{ comment.id }}" role="button">Restore Comment</a></p>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {% get_pages %}
            <!-- Center-aligned -->
            {% include "single_pagination.html" %}
        {% else %}
            <div class="card-header">
                <h3>Flagged comments waiting for moderation</h3>
            </div>
            <div class="card-body">
                No comments awaiting moderation.
            </div>
        {% endif %}
    </div>

    {% load static %}
    <script src="{% static "js/moderation.js" %}"></script>


{% endblock %}