<ul class="pagination justify-content-center" style="margin:20px 0">

    {% if not pages.current.is_first %}
        <li class="page-item"><a class="page-link" href="{{ pages.previous.path }}"><i class='fas fa-step-backward'></i></a></li>
{#        <li class="page-item"><a class="page-link" href="{{ pages.previous.path }}"><</a></li>#}

    {% endif %}

    <li class="page-item num_item"><a class="page-link"
                                      href="{{ pages.first.path }}">{{ pages.first.number }}</a></li>

    <li><strong class="first_ellipsis">. . .</strong></li>

    <li class="page-item num_item"><a class="page-link"
                                      href="{{ pages.previous.path }}">{{ pages.previous.number }}</a></li>

    <li class="page-item num_item"><a class="page-link"
                                             href="{{ pages.current.path }}">{{ pages.current.number }}</a></li>

    <li class="page-item num_item"><a class="page-link"
                                      href="{{ pages.next.path }}">{{ pages.next.number }}</a></li>

    <li><strong class="last_ellipsis">. . .</strong></li>

    <li class="page-item num_item"><a class="page-link"
                                      href="{{ pages.last.path }}">{{ pages.last.number }}</a></li>

    {% if not pages.current.is_last %}
        <li class="page-item"><a class="page-link" href="{{ pages.next.path }}"><i class='fas fa-step-forward'></i></a></li>
{#        <li class="page-item"><a class="page-link" href="{{ pages.next.path }}">></a></li>#}
    {% endif %}
</ul>

<script>
    pagination(parseInt('{{ pages.current.number }}'), parseInt('{{ pages.first.number }}'), parseInt('{{ pages.last.number }}'))
</script>