{% extends "gnosis_theme.html" %}

{% block content %}
    <div class="card shadow-sm mt-3">
        <div class="card-header">
            <h3>Import Paper</h3>
        </div>
        <div class="card-body">

            {% if message %}
                <p class="bg-info text-center">{{ message }}</p>
            {% endif %}

            <form id="source_url">
                <label for="id_url">Source URL*:</label>
                <input id="id_url" name="url" class="form-control" required="" type="text">
                <button id="paper_import" type="submit" style="margin-top: 5px">
                    Import
                </button>
            </form>

            <br>

            <form action="" method="post">
                {% csrf_token %}
                <table class="w-100">
                    {{ form }}
                </table>
                <input id="id_authors" type="hidden" name="authors" value="">
                <br/>
                <input id="paper_submit" type="submit" class="btn btn-primary btn-lg float-right" value="Submit" disabled/>
            </form>
            <h5><br/>*required</h5>
        </div>
        <div class="card-footer">
            <p>You can import papers from the following websites, arXiv.org, papers.nips.cc, jmlr.org,
                ieeexplore.ieee.org, and dl.acm.org.</p>
            <p>For all websites, please, provide the URL with the paper abstract, e.g,
                https://arxiv.org/abs/1607.00653.</p>

        </div>

        {% load static %}
        <script src="{% static "js/paper_import.js" %}">
        </script>

    </div>

{% endblock %}
