{% extends "gnosis_theme.html" %}

{% block content %}

<div class="card shadow-sm mt-5">
    <div class="card-header">
        {% if paper.is_public %}
        <h3><strong>Original title:</strong> {{ paper.title }}</h3>
        {% else %}
        <h3><strong>Original title:</strong> {{ paper.title }} <i>(Private)</i></h3>
        {% endif %}
    </div>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            <table class="w-100">
            {{ form }}
                </table>
            <br/>
            <input type="submit" class="btn btn-primary btn-lg float-right" value="Submit"/>

        </form>
    </div>
</div>

{% endblock %}