{% extends "gnosis_theme.html" %}

{% block content %}
<div class="card shadow-sm mt-5">
    <div class="card-header">
        <h3>Select a journal club</h3>
    </div>
    <div class="card-body">
        {% if groups %}
            <ul class="list-group">
                {% for group, group_url in groups %}
                <li class="list-group-item clearfix mt-1">
                    <a href="{{ group.get_absolute_url }}">{{ group.name }}</a>
                    {% if user.is_authenticated %}
                    <a class="btn btn-warning float-right" href={{ group_url }}>Add</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        {% else %}
            You have not joined any journal clubs.
        {% endif %}
    </div>
</div>
{% endblock %}