{% extends "gnosis_theme.html" %}
{% block content %}
    {% load el_pagination_tags %}
    {% include "universal_search.html" %}
    {% if papers %}
        <div class="card shadow-sm mt-3">
            <div class="card-header"><h4>Papers</h4></div>
            {% paginate papers %}
            <div class="card-body">
                {% for paper in papers %}
                    <ul class="list-group">
                        <li class="list-group-item mt-1">
                            {% if paper.is_public %}
                                <h4><a href="{{ paper.get_absolute_url }}">{{ paper.title }}</a></h4>
                            {% else %}
                                <h4><a href="{{ paper.get_absolute_url }}">{{ paper.title }}</a>
                                    <i><small>(Private)</small></i></h4>
                            {% endif %}
                            <p>{{ paper.abstract|truncatewords:50 }}</p>
                        </li>
                    </ul>
                {% endfor %}
            </div>

            {% get_pages %}
            <!-- Center-aligned -->
            {% include "single_pagination.html" %}
        </div>
    {% endif %}
{% endblock %}