{% extends "gnosis_theme.html" %}

{% block content %}
<div class="card shadow-sm mt-5">
    <div class="card-header">
        <h2>Find an author</h2>
    </div>
    <div class="card-body">
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" class="btn btn-primary btn-lg float-right" value="Submit"/>
    </form>
    </div>
</div>

{% if people %}
<div class="card shadow-sm mt-5">
    <div class="card-header">
        <h2>These are the authors that matched your query</h2>
    </div>
    <div class="card-body">
        <ul class="list-group">
            {% for person, person_connect_url in people %}
            <li class="list-group-item clearfix mt-1">
                <a href="{{ person.get_absolute_url }}">{{ person.name }}</a>
                {% if user.is_authenticated %}
                <a class="btn btn-warning float-right" href={{ person_connect_url }}>Connect</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% endblock %}