{% extends "gnosis_theme.html" %}

{% block content %}
    {% load el_pagination_tags %}
    {% include "universal_search.html" %}
    {% if people %}
        <div class="card shadow-sm mt-3">
            <div class="card-header"><h4>Authors</h4></div>
            {% paginate people %}
            <div class="card-body">

                {% for person in people %}
                    <ul class="list-group">
                        <li class="list-group-item mt-1">
                            <p>
                                <a href="{{ person.get_absolute_url }}">{{ person.name }} {{ person.middle_name }}</a>
                            </p>
                            {% if person.affiliation %}
                                <p>Affiliation: {{ person.affiliation }}</p>
                            {% endif %}
                        </li>
                    </ul>
                {% endfor %}
            </div>

            {% get_pages %}
            <!-- Center-aligned -->
            {% include "single_pagination.html" %}
        </div>
    {% endif %}
{% endblock %}