{% extends "gnosis_theme.html" %}

{% block content %}

<div class="card shadow-sm mt-3">
    <div class="card-body text-center">
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
            {{ field }}
            {% endfor %}
            <br>
            <input type="submit" class="btn btn-primary btn-lg" value="Search Authors"/>
        </form>
    </div>
</div>

{% if people %}
<div class="card shadow-sm mt-3">
    <div class="card-header"><h4>People that match your query</h4></div>
    <div class="card-body">
        {% for person in people %}
        <ul class="list-group">
            <li class="list-group-item mt-1">
                <p><a href="{{ person.get_absolute_url }}">{{person.name}} </a></p>
                {% if person.affiliation %}
                    <p>Affiliation: {{ person.affiliation }}</p>
                {% endif %}
            </li>
        </ul>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}