{% extends "gnosis_theme.html" %}

{% block content %}
{% load el_pagination_tags %}

<div class="card shadow-sm mt-5 mb-5">
    <div class="card-header">
        <h3>
            {{ profile.user }}
            {% if user == profile.user %}
            <a href="{% url 'profile_update' %}" class="btn btn-primary btn-sm" role="button">
                Update
            </a>
            {% endif %}    
        </h3>
        {% if profile.city %}
            {% if profile.country %}
                {{ profile.city}}, {{ profile.country }}
            {% endif %}
        {% elif profile.country %}
            {{ profile.country}}
        {% endif %}
    </div>
    <div class="card-body">        
        <div class="card-columns">
            <div class="card">
                <div class="card-header text-center">
                    About
                </div>
                <div class="card-body text-center">
                    {% if profile.about %}
                        <p class="card-text">{{ profile.about}}</p>
                    {% else %}
                        <p class="card-text"><i>Not provided</i></p>
                    {% endif %}
              </div>
            </div>
            <div class="card">
                <div class="card-header text-center">
                        Affiliation
                </div>
                <div class="card-body text-center">
                    <p class="card-text">{{ profile.affiliation}}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center">
                        Interests
                </div>
                <div class="card-body text-center">
                    <p class="card-text">{{ profile.interest}}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center">
                        Job
                </div>
                <div class="card-body text-center">
                    <p class="card-text">{{ profile.job}}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center">
                        Websites
                </div>
                <div class="card-body text-center">
                    <p class="card-text">{{ profile.website}}</p>
                    <p class="card-text">{{ profile.github}}</p>
                    <p class="card-text">{{ profile.linkedin}}</p>
                    <p class="card-text">{{ profile.twitter}}</p>
                </div>
            </div>    
        </div>
    </div>
</div>


{% endblock %}