{% extends "gnosis_theme.html" %}

{% block content %}
{% load el_pagination_tags %}

<div class="card shadow-sm mt-5 mb-5">
    <div class="card-header">
        <h3>
            {{ profile.user }}
            {% if user == profile.user %}
            <p>
                <a href="{% url 'profile_update' %}">
                    <i class="material-icons">edit</i>
                </a>
            </p>
            {% endif %}            
        </h3>
        {% if profile.job %}
            <div class="card-text">{{ profile.job}}</div>
        {% endif %}
        {% if profile.affiliation %}
            <div class="card-text">{{ profile.affiliation}}</div>
        {% endif %}
        {% if profile.city %}
            {% if profile.country %}
                <div class="card-text">{{ profile.city}}, {{ profile.country }}</div>
            {% endif %}
        {% elif profile.country %}
            <div class="card-text">{{ profile.country}}</div>
        {% endif %}
    </div>
    <div class="card-body">        
        <div class="card-body">
            <h5><u><strong>About</strong></u></h5>
            {% if profile.about %}
                <p class="card-text">{{ profile.about}}</p>
            {% else %}
                <p class="card-text"><i>Not provided</i></p>
            {% endif %}        
        </div>
        <div class="card-body">        
            <h5><u><strong>Interests</strong></u></h5>
            {% if profile.interests %}
                <p class="card-text">{{ profile.interests }}</p>
            {% else %}
                <p class="card-text"><i>Not provided</i></p>
            {% endif %}
        </div>
        <div class="card-body text-center">
            <a href="{{ profile.website }}" target="_blank"><i class='fas fa-link' style='font-size:36px'></i></a>
            <a href="{{ profile.github }}" target="_blank"><i class='fab fa-github' style='font-size:36px;color:black'></i></a>
            <a href="{{ profile.linkedin }}" target="_blank"><i class='fab fa-linkedin' style='font-size:36px'></i></a>
            <a href="{{ profile.twitter }}" target="_blank"><i class='fab fa-twitter' style='font-size:36px'></i></a>
        </div>
    </div>
</div>


{% endblock %}