<div class="card shadow-sm text-center mt-3">
    <div class="card-body">
        <form action="{% url 'paper_find' %}" id="universal_search" class="nav-searchbar" method="get">
            <div style="display: flex; justify-content: center">
                <select id="universal_select" data-type="{{ type }}">
                    <option value="paper" data-url="{% url 'paper_find' %}">Papers</option>
                    <option value="person" data-url="{% url 'person_find' %}">Authors</option>
                    <option value="venue" data-url="{% url 'venue_find' %}">Venues</option>
                    <option value="dataset" data-url="{% url 'dataset_find' %}">Datasets</option>
                    <option value="code" data-url="{% url 'code_find' %}">Codes</option>
                    <option value="club" data-url="{% url 'group_find' %}">Clubs</option>
                    {% if user.is_authenticated %}
                        <option value="bookmark" data-url="{% url 'bookmark_search' %}">Bookmark</option>
                        <option value="endorsement" data-url="{% url 'endorsement_search' %}">Endorsements</option>
                    {% endif %}
                </select>
                <input type="text" name="keywords" style="padding-left: 5px; padding-right: 32px; width: 100%"/>
                <button type="submit"
                        style="display:flex; justify-content: center; width: 30px; height: 30px; margin-left: -30px">
                    <i class="material-icons" style="vertical-align: inherit">
                        search
                    </i>
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    var $universal_select = $('#universal_select');
    var $option = $('option[value="' + $universal_select.attr('data-type') + '"]');
    $option.attr('selected', 'selected');
    $('#universal_search').attr('action', $option.attr('data-url'));
</script>