{% extends "gnosis_theme.html" %}

{% block content %}
    {% load el_pagination_tags %}
    {% include "universal_search.html" %}
    {% if venues %}
        <div class="card shadow-sm mt-3">
            {% paginate venues %}
            <div class="card-header"><h4>Venues</h4></div>
            <div class="card-body">
                {% for venue in venues %}
                    <ul class="list-group">
                        <li class="list-group-item mt-1">
                            <p><a href="{{ venue.get_absolute_url }}">{{ venue.name }}</a></p>
                            <p>Published in {{ venue.publication_year }} by {{ venue.publisher }}</p>
                        </li>
                    </ul>
                {% endfor %}
            </div>

            {% get_pages %}
            <!-- Center-aligned -->
            {% include "single_pagination.html" %}
        </div>
    {% endif %}


{% endblock %}