.loader_container {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -17px;
    margin-left: -88.78px;
    text-align: center;
}

.loader_icon {
    border: 8px solid #ffb836;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

.spinner_grow {
    animation: spinner-grow 1.0s linear infinite;
    opacity: 0.5;
}

.light_off, .bm_on, .bm_off {
    color: #000000;
}

.light_on {
    color: #FFFF00;
}

.header_icons {
    display: flex;
    margin-right: 20px;
}

.header_icons .material-icons {
    font-size: 48px;
}

.nav_theme {
    color: rgba(0, 0, 0, .5);
    padding-right: .5rem;
    padding-left: .5rem
}

.nav_theme:hover {
    color: rgba(0, 0, 0, .9);
}


.first_ellipsis, .last_ellipsis {
    padding: 0 2px;
    height: 7px;
    vertical-align: middle
}

.page_prev i {
    margin-right: 5px;
}

.page_next i {
    margin-left: 5px;
}

.pagination.mobile .page-item {
    text-align: center;
    width: 108px;
}

.comments_notes {
    width: 100%;
}

.response_dialog {
    width: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -69px;
    z-index: 3000;
}

.response_ok {
    color: darkseagreen;
    cursor: pointer;
}

.response_ok:hover {
    color: olivedrab;
}

.response_cancel {
    color: indianred;
    cursor: pointer;
}

.response_cancel:hover {
    color: darkred;
}

.ok_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    user-select: none;
}

.response_opt {
    padding: 5px;
    margin: 0 2px
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .flex-item {
        margin-top: 10px;
    }

}

/* min width of desktop browser*/
@media screen and (max-width: 483px) {
    .g-recaptcha {
        transform: scale(0.74);
        -webkit-transform: scale(0.74);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

.float_container::after {
    display: block;
    content: "";
    clear: both;
}

/*
    !* Remove the navbar's default margin-bottom and rounded borders *!
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    !* Set height of the grid so .sidenav can be 100% (adjust as needed) *!
    .row.content {height: 450px}

    !* Set gray background color and 100% height  #f1f1f1*!
    .sidenav {
      padding-top: 20px;
      background-color: #ffffff;
      height: 100%;
    }

    !* Set black background color, white text and some padding *!
    footer {
      background-color: #ffffff;
      color: white;
      padding: 15px;
    }

    !* Adds a small buffer between the two rows in the middle column. *!
    .top-buffer { margin-top:10px; }

    !* Adds a small buffer between the two rows in the right column. *!
    .top-buffer-sidenav { margin-top:5px; }

    !* Adds margins around the main content colum *!
    .main-column-left-right-buffer { margin-left:10px; margin-right:10px }

    !* On small screens, set height to 'auto' for sidenav and grid *!
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
*/
