{% extends "gnosis_theme.html" %}
{% block content %}
    {% load el_pagination_tags %}

    <div class="card shadow-sm mt-3">
        <div class="card-header">
            <h4>Notes</h4>

        </div>
        <div class="card-body">
            {% if notes %}
                {% paginate notes %}
                {% for note in notes %}
                    <ul class="list-group">
                        <li class="list-group-item mt-1">
                            <div class="mr-auto p-2">
                                <p>On <a
                                        href="{% url 'paper_detail' note.paper.id %}">{{ note.paper.title }}</a>, {{ note.updated_at }}
                                </p>
                                <p>{{ note.note_content }}</p>
                            </div>
                        </li>
                    </ul>
                {% endfor %}

                {% get_pages %}
                <!-- Center-aligned -->
                {% include "single_pagination.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}