{% extends "gnosis_theme.html" %}

{% block content %}
<div class="card shadow-sm mt-5">
    <div class="card-header">
        <h4>Update your Note</h4>
    </div>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <br/>
            <input type="submit" class="btn btn-primary btn-lg float-right" value="Submit"/>
        </form>
        <small>* Notes are private and only visible to the creator</small>
    </div>
</div>
{% endblock %}