{% load flatpages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gnosis Research Paper Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.3.3/cytoscape.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8b8bc6986f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/timepicker@1.13.0/jquery.timepicker.min.css">

    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
            crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/timepicker@1.13.0/jquery.timepicker.min.js"></script>
    {% load static %}
    <script src={% static 'js/antispam.js' %}></script>
    <script src="{% static 'js/pagination.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/gnosis_theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
</head>
<style>
    .max-width {
        max-width: 1024px;
    }
</style>
<body>

<nav class="navbar navbar-expand-sm mb-2 shadow bg-white navbar-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand"
           href="{% url 'home' %}">The Journal Club</a>

        {% if user.is_authenticated %}
            <div class="dropdown">
                <button type="button" class="btn btn-outline-primary dropdown-toggle"
                        data-toggle="dropdown">
                    {{ user }}
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'groups_user' %}">My Journal Clubs</a>
                    <a class="dropdown-item" href="{% url 'collections' %}">My Collections</a>
                    <a class="dropdown-item" href="{% url 'bookmarks' %}">My Bookmarks</a>
                    <a class="dropdown-item" href="{% url 'endorsements' %}">My Endorsements</a>
                    <a class="dropdown-item" href="{% url 'note_index' %}">My Notes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'profile' user.id %}">My Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'account_change_password' %}">Change Password</a>
                    <a class="dropdown-item"
                       href="{% url 'account_logout' %}?next={{ request.path }}">Logout</a>
                </div>
            </div>
        {% else %}
            <div class="nav">
                <a class="nav-link nav_theme"
                   href="{% url 'account_signup' %}?next={{ request.path }}">Signup</a>
                <a class="nav-link nav_theme"
                   href="{% url 'account_login' %}?next={{ request.path }}">Login</a>
            </div>
        {% endif %}

    </div>
</nav>

<div class="container-fluid  max-width float_container" style="margin-top:30px">
    <!-- <div class="row float-right" style="margin-right:30px"> -->
    <div class="btn-group d-none d-md-flex justify-content-center">
        {% if user.is_authenticated %}
            <div class="btn-group">
                <a href="{% url 'groups_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all groups">Clubs</a>
                <div class="btn-group">
                    <a href="{% url 'group_create' %}" class="btn btn-primary flex-item" role="button"
                       title="Create a new group">+</a>
                </div>
            </div>

            <div class="btn-group">
                <a href="{% url 'papers_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all papers">Papers</a>
                <div class="btn-group">
                    <a href="{% url 'paper_create_from_url' %}" class="btn btn-primary flex-item" role="button"
                       title="Add new paper">+</a>
                </div>
            </div>

            <div class="btn-group">
                <a href="{% url 'persons_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all people">Authors</a>
            </div>

            <div class="btn-group">
                <a href="{% url 'venues_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all venues">Venues</a>
                <div class="btn-group">
                    <a href="{% url 'venue_create' %}" class="btn btn-primary flex-item" role="button"
                       title="Add new venue">+</a>
                </div>
            </div>

            <div class="btn-group">
                <a href="{% url 'datasets_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all datasets">Datasets</a>
                <div class="btn-group">
                    <a href="{% url 'dataset_create' %}" class="btn btn-primary flex-item" role="button"
                       title="Add new dataset">+</a>
                </div>
            </div>

            <div class="btn-group">
                <a href="{% url 'codes_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all codes">Codes</a>
                <div class="btn-group">
                    <a href="{% url 'code_create' %}" class="btn btn-primary flex-item" role="button"
                       title="Add new code">+</a>
                </div>
            </div>
        {% else %}
            <div class="btn-group">
                <a href="{% url 'groups_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all papers">Clubs</a>
            </div>
            <div class="btn-group">
                <a href="{% url 'papers_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all papers">Papers</a>
            </div>

            <div class="btn-group">
                <a href="{% url 'persons_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all people">People</a>
            </div>

            <div class="btn-group">
                <a href="{% url 'venues_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all venues">Venues</a>
            </div>

            <div class="btn-group">
                <a href="{% url 'datasets_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all datasets">Datasets</a>
            </div>

            <div class="btn-group">
                <a href="{% url 'codes_index' %}" class="btn btn-primary flex-item" role="button"
                   title="View all codes">Codes</a>
            </div>
        {% endif %}
    </div>

    <div class="container-fluid  max-width float_container">
        <div class="dropdown d-md-none">
            <button class="btn btn-secondary" type="button" data-toggle="dropdown">
                <i class="material-icons" style="font-size:24px">menu</i>
            </button>
            <div class="dropdown-menu text-center">
                <div class="btn-group-vertical">
                    {% if user.is_authenticated %}
                        <div class="btn-group">
                            <a href="{% url 'groups_index' %}" class="btn btn-primary flex-item" role="button"
                               title="View all groups">Clubs&nbsp&nbsp</a>
                            <div class="btn-group">
                                <a href="{% url 'group_create' %}" class="btn btn-primary flex-item" role="button"
                                   title="Create a new group">+</a>
                            </div>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'papers_index' %}" class="btn btn-primary  flex-item" role="button"
                               title="View all papers">Papers&nbsp&nbsp</a>
                            <div class="btn-group">
                                <a href="{% url 'paper_create_from_url' %}" class="btn btn-primary flex-item"
                                   role="button"
                                   title="Add new paper">+</a>
                            </div>
                        </div>

                        <div class="btn-group">
                            <a href="{% url 'persons_index' %}" class="btn btn-primary flex-item" role="button"
                               title="View all people">People&nbsp&nbsp</a>
                        </div>

                        <div class="btn-group">
                            <a href="{% url 'venues_index' %}" class="btn btn-primary flex-item" role="button"
                               title="View all venues">Venues&nbsp&nbsp</a>
                            <div class="btn-group">
                                <a href="{% url 'venue_create' %}" class="btn btn-primary flex-item" role="button"
                                   title="Add new venue">+</a>
                            </div>
                        </div>

                        <div class="btn-group">
                            <a href="{% url 'datasets_index' %}" class="btn btn-primary flex-item" role="button"
                               title="View all datasets">Datasets</a>
                            <div class="btn-group">
                                <a href="{% url 'dataset_create' %}" class="btn btn-primary flex-item" role="button"
                                   title="Add new dataset">+</a>
                            </div>
                        </div>

                        <div class="btn-group">
                            <a href="{% url 'codes_index' %}" class="btn btn-primary flex-item" role="button"
                               title="View all codes">Codes&nbsp&nbsp&nbsp</a>
                            <div class="btn-group">
                                <a href="{% url 'code_create' %}" class="btn btn-primary flex-item" role="button"
                                   title="Add new code">+</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="btn-group">
                            <a href="{% url 'groups_index' %}" class="btn btn-primary flex-item" role="button"
                               title="View all papers">Clubs&nbsp&nbsp</a>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'papers_index' %}" class="btn btn-primary flex-item" role="button"
                               title="View all papers">Papers&nbsp&nbsp</a>
                        </div>

                        <div class="btn-group">
                            <a href="{% url 'persons_index' %}" class="btn btn-primary flex-item" role="button"
                               title="View all people">People&nbsp&nbsp</a>
                        </div>

                        <div class="btn-group">
                            <a href="{% url 'venues_index' %}" class="btn btn-primary flex-item" role="button"
                               title="View all venues">Venues&nbsp&nbsp</a>
                        </div>

                        <div class="btn-group">
                            <a href="{% url 'datasets_index' %}" class="btn btn-primary flex-item" role="button"
                               title="View all datasets">Datasets</a>
                        </div>

                        <div class="btn-group">
                            <a href="{% url 'codes_index' %}" class="btn btn-primary flex-item" role="button"
                               title="View all codes">Codes</a>
                        </div>

                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-12">
                {% include "messages.html" %}
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <script>setButton();</script>
    </div>

    <!-- Footer -->
    <footer class="text-center  pt-3 mt-5">
        {% block footer %}
        {% endblock %}
        {% load static %}
        {% get_flatpages as flatpages %}
        <!-- Footer Links -->
        <!-- Footer Links -->
        <div class="text-center">
            <ul class="list-unstyled">
                {% for page in flatpages %}
                    <li class="list-inline-item"><a href="/pages{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                {% if user.is_authenticated and user.is_superuser %}
                    <li class="list-inline-item">
                        <a id="comment_moderation" href="{% url 'flagged_comments_index' %}">Comment Moderation</a>
                    </li>
                    <li class="list-inline-item"><strong>|</strong></li>
                    <li class="list-inline-item">
                        <a id="paper_moderation" href="{% url 'reported_papers_index' %}">Paper Moderation</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://www.thejournal.club">The Journal Club</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <!-- response dialog for flag report -->
    <div id="response_msg_container" class="card popup" hidden>
        <div class="card-body">
            <div><span id="response_text">Thanks. We have received your report. If we find this content to be in violation of our guidelines,
            we will remove it.</span>
            </div>

            <div class="ok_container">
                <span class="response_ok">Ok</span>
            </div>
        </div>
    </div>

    <div class="cover" hidden></div>

    <!-- START Bootstrap-Cookie-Alert -->
    <div class="alert text-center cookiealert" role="alert">
        We use cookies to ensure you get the best experience on our website. <a href="/pages/privacypolicy/"
                                                                                target="_blank">Learn
        more</a>

        <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
            I agree
        </button>
    </div>
    <!-- END Bootstrap-Cookie-Alert -->

    <script>
        var message_ele = document.getElementById("message_container");

        setTimeout(function () {
            message_ele.style.display = "none";
        }, 2000);
    </script>

    <!-- Include cookiealert script -->
    <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
    <script src="{% static 'js/group.js' %}"></script>
    <script src="{% static 'js/gnosis_theme.js' %}"></script>

</body>
</html>
