{% extends "gnosis_theme.html" %}

{% block content %}
<div class="jumbotron" style="background:transparent !important">
    <h1 class="display-4">Gnosis</h1>
    <p class="lead">The most essential tool for organizing your next journal club.</p>
    {% if not user.is_authenticated %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-primary" role="button" href="{% url 'account_signup' %}?next={{ request.path }}">Signup</a>
                <a class="btn btn-primary" role="button" href="{% url 'account_login' %}?next={{ request.path }}">Login</a>
            </div>
        </div>
      </div>
    {% endif %}
    <hr class="my-4">
</div>

{% load static %}

<div class="container">
    <div class="row">
        <div class="col-sm-4 mt-md-0 mt-5 pt-4">
            <!-- Content -->
            <img src="{% static 'catalog/group.png' %}" class="mx-auto d-block" alt="">
            <p class="text-center mt-5">The easiest, most intuitive, and powerful online tool for managing your journal club. Create
                public or private journal clubs, set time and place of meeting, allow members to propose papers, and schedule
                papers for discussion. All these features are just a few clicks away!
            </p>
        </div>

        <div class="col-sm-4 mt-md-0 mt-5 pt-4">
            <!-- Content -->
            <img src="{% static 'catalog/papers.png' %}" class="mx-auto d-block" alt="">
            <p class="text-center mt-5">Take advantage of our large research paper database indexing all papers from arXiv.org and several other
                open source conferences and journals. And if a paper is missing, then you can add it with just a couple of clicks.
            </p>
        </div>

        <div class="col-sm-4 mt-md-0 mt-5 pt-4">
            <!-- Content -->
            <img src="{% static 'catalog/globe.png' %}" class="mx-auto d-block" alt="">
            <p class="text-center mt-5">Organize local and global journal clubs with no restriction on who can join. Gnosis is open
                to everyone including academics, industry professionals, and citizen scientists who want to keep up with the state-of-the-art
                in research.
            </p>
        </div>
    </div>
</div>

{% endblock %}