{% extends "gnosis_theme.html" %}

{% block content %}
<div class="jumbotron" style="background:transparent !important">
    <h1 class="display-4">The Journal Club</h1>
    <p class="lead">An essential tool for organizing journal clubs.</p>
    <hr class="my-4">
    {% if not user.is_authenticated %}
        <h4> Hi, <a href="{% url 'account_login' %}?next={{request.path}}">login</a> to make full use of The Journal Club.</h4>
        <h4>If you are new here then why not <a href="{% url 'account_signup' %}">register a new account!</a></h4>
    {% endif %}
</div>

{% endblock %}